body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

table {margin: auto;}

A:visited {
    color: aquamarine;
   }

.nav_ {
    height: 20%;
    background-color: darkblue;
    }

.foot_ {
    height: 10%;
    background-color: darkslateblue;    }

.f_nav {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;

}
.cont_l
{ 
    text-align: center; 
    font-size: 40px;
    margin: auto;
    
}